/node_modules
/public/img/*
/public/hot
/public/storage
/public/js/app/config.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.php_cs.cache
_ide_helper.php
/public/img/ruins/*
/public/mix-manifest.json
/public/js/*
/public/css/*