/node_modules
/public/img/ruins/*
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
_ide_helper.php
_ide_helper_models.php
/public/sitemap.xml
/.phpunit.cache
/.phpunit.result.cache
.php-cs-fixer.cache
