<?php

$finder = PhpCsFixer\Finder::create()
    ->in(['app', 'routes', 'tests']);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'yoda_style' => false,
        'no_unused_imports' => true,
        'increment_style' => false,
        'concat_space' => ['spacing' => 'one'],
        'whitespace_after_comma_in_array' => false,
        'compact_nullable_typehint' => true,
        'declare_equal_normalize' => ['space' => 'none'],
        'function_typehint_space' => true,
        'no_empty_statement' => true,
        'no_leading_import_slash' => true,
        'no_leading_namespace_whitespace' => true,
        'no_whitespace_in_blank_line' => true,
        'return_type_declaration' => ['space_before' => 'none'],
        'no_superfluous_phpdoc_tags' => true,
        'single_trait_insert_per_statement' => true,
    ])
    ->setFinder($finder);
